#navBar{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: block;
    width: 7%;
    border: 1px solid;
    border-bottom: none;
    top: 0;
    bottom: 0;
    padding-top: 24%;
}
a.nav{
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}
#banner{
    padding: 30px;
}
#textComponents{
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    width: 100%;
}
#imageComponents{
    position: relative;
    max-width: 50%;
    display: block;
    float: left;
    height: auto;
    min-height: 100%;
    margin-left: 10px;
}
.imgComp{
    padding: 10px;
}
#img1{
    height:150px;
}
#img2{
    height:150px;
}
#img3{
    height:150px;
}
#slideshowComponents{
    display: inline;
    position: relative;
}
#slideshow1{
    width: 800px;
    height: 600px;
    -webkit-transform: scale(.6);
    -webkit-transform-origin: left;
}
#slideshow2{
    width: 800px;
    height: 600px;
    -webkit-transform: scale(.6);
    -webkit-transform-origin: left;
}
#videoComponents{
    margin-left: auto;
    margin-left: 50%;
    display: block;
}
#video1{
    width: 620px;
}
#content{
    margin: 9%;
    margin-top: 0;
    padding: 30px;
}
html, body{
    height: 100%;
    width: 100%;
}