/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2015, 8:48:47 PM
    Author     : BunnyRailgun
*/

.horizontal_toolbar_hbox {
    -fx-background-color: rgb(136, 136, 190); //DARK BLUE
    -fx-border-color: rgb(200,200,200);
}
.horizontal_toolbar_button { //Top buttons
    -fx-background-color: rgb(190, 190, 211); //LIGHT BLUE
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-spacing: 5;
}
.site_toolbar_vbox{
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(136, 136, 190);
    -fx-spacing: 5;
    -fx-alignment: center;
}
.workspace_mode_toolbar{
    -fx-background-color: rgb(61, 61, 147);
}
.vertical_toolbar_button { //Right buttons
    -fx-background-color: rgb(190, 190, 211); 
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}
.selected_page_edit_view { //Slides untouched
    -fx-background-radius: 10.0;
    -fx-background-color: white;
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-padding: 50px;
}
.page_edit_view { //Selecting slide
    -fx-background-radius: 10.0;
    -fx-background-color: white;
    -fx-border-color: rgb(43,43,143);
    -fx-border-thickness: 10px;
    -fx-padding: 20px;
}
.page_editor_pane > .viewport{
    -fx-background-color: rgb(190, 190, 211);
    -fx-border-color: rgb(43,43,143);
    
}
.page_settings_pane{
    -fx-background-color: rgb(190, 190, 211); //BASE BLUE
    -fx-spacing: 50px;
    -fx-border-color: rgb(43,43,143);
}
.component_pane > .viewport{
    -fx-background-color: rgb(190,190,211);
}
.component{
    -fx-background-color: rgb(143, 143, 181);
}
.selected_component{
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(143, 143, 181);
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-padding: 60px;
}
.component_editor{
    -fx-background-color: rgb(190, 190, 211);
    -fx-spacing: 10px;
}
.label{
    -fx-font: 23px Rockwell;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.small_label{
    -fx-font: 18px Rockwell;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.workspace{
    -fx-background-color: rgb(190,190,211)
}