a.nav{
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}
#bannerImg {
    max-height: 250px;
    width: 120%;
    display: block;
}
#banner{
    width: 120%;
}
#textComponents{
    position: relative;
    max-width: 50%;
    display: block;
    float: left;
    height: auto;
    min-height: 100%;
    margin-left: 10px;
}
#imageComponents{
    margin-left: 50%;
}
.imgComp{
    padding: 10px;
}
#img1{
    height:150px;
}
#img2{
    height:150px;
}
#img3{
    height:150px;
}
#slideshowComponents{
    display: block;
    position: relative;
    margin-left: 50%;
    max-width: 120%;
}
.slideshowComp{
    display: block;
    padding: 10px;
    border: 0;
}
#slideshow1{
    width: 800px;
    height: 600px;
}
#slideshow2{
    width: 800px;
    height: 600px;
}
#videoComponents{
    margin-left: auto;
    margin-left: 50%;
    display: block;
}
#video1{
    width: 720px;
    padding: 10px;
}
#content{
    margin: 7%;
    margin-top: 0;
}
html, body{
    height: 100%;
    width: 100%;
}