#navBar{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: block;
    width: 7%;
    border: 1px solid;
    border-bottom: none;
    top: 0;
    bottom: 0;
    padding-top: 24%;
}
a.nav{
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}
#bannerImg {
    max-height: 250px;
    width: 120%;
    display: block;
}
#banner{
    width: 120%;
}
#textComponents{
    position: relative;
    max-width: 50%;
    display: block;
    float: left;
    height: auto;
    min-height: 100%;
    margin-left: 10px;
}
#imageComponents{
    display: inline;
    padding: 10px;
}
.imgComp{
    padding: 5px;
}
#img1{
    height:150px;
}
#img2{
    height:150px;
}
#img3{
    height:150px;
}
#slideshowComponents{
    display: inline;
    position: relative;
    margin: 0px;
    max-width: 100%;
}
.slideshowComp{
    display: inline;
    -webkit-transform: scale(.7);
    margin: -10%;
    padding: 0px;
    overflow: hidden;
    float: top;
}
#slideshow1{
    width: 800px;
    height: 600px;
}
#slideshow2{
    width: 800px;
    height: 600px;
}
#videoComponents{
    display: inline-block;
    position: relative;
    padding: 10px;
}
#video1{
    width: 620px;
}
#content{
    margin: 7%;
    margin-top: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
#media{
    margin-left: 50%;
}