#navBar{
    background-color: mediumaquamarine;
    text-align: center;
    border: 1px solid;
    border-color: black;
}
a.nav{
    font-family: 'Roboto Slab', serif;
    font-size: 23px;
    font-style: oblique;
    color: black;
}
#banner{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: white;
    background-color: darkgreen;
    border: 1px solid;
    border-color: black;
}
#textComponents{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-left: 15px;
}
body{
    background-color: #4F8066;
}
#content{
    margin: 8px;
    background-color: #749685;
    border: 1px solid;
    border-color: black;
}